name: Check Python Code

on:
  workflow_call:

jobs:
  check-python:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up Poetry
        uses: ./.github/actions/setup-poetry

      - name: Install dependencies
        run: poetry install --no-interaction --with docs

      - name: Audit with pip-audit
        run: |
          poetry export --without=dev --without=docs -o requirements.txt
          poetry run pip-audit -r requirements.txt
          # If a vulnerability is found in a dependency without an available fix,
          # it can be temporarily ignored by adding --ignore-vuln e.g. poetry run pip-audit -r requirements.txt --ignore-vuln 'GHSA-xxxxx'

      - name: Check formatting with Ruff
        run: |
          # stop the build if there are files that don't meet formatting requirements
          poetry run ruff format --check .

      - name: Check linting with Ruff
        run: |
          # stop the build if there are Python syntax errors or undefined names
          poetry run ruff check .

      - name: Check types with mypy
        run: poetry run mypy

      - name: Check docs are up to date
        run: |
          poetry run poe docs
          [ $(git status --porcelain docs/ | wc -l) -eq "0" ]
