name: Pull Request validation

on: [pull_request]

jobs:
  pr-check:
    name: Check Python
    uses: ./.github/workflows/check-python.yaml

  pr-build:
    name: Build and Test Python
    needs: pr-check
    uses: ./.github/workflows/build-python.yaml
